django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-filter
python-dotenv
psycopg2-binary
channels
channels-redis
redis
daphne
uvicorn[standard]
websockets
wsproto
reportlab
pymupdf
